header {
    margin-bottom: 64px;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    flex: 1;
}

#scarecrow {
    margin: 0;
    margin-bottom: 60px;
    max-block-size: 286px;
    align-self: center;
}

h1 {
    max-width: 575px;
    margin-bottom: 29px;

    font-size: 48px;
    line-height: 71px;
}

p {
    max-width: 375px;
    margin-bottom: 67px;

    font-size: 18px;
    line-height: 27px;
}

footer {
    margin-bottom: 42;
}
